@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.tiny img {
  max-width: 100%;
}

.tiny pre {
  max-width: 100%;
  overflow: auto;
}

li + li {
  margin-top: 10px;
}

pre {
  padding: 10px;
  border-radius: 5px;
}
