---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me">
  <h2 id="about-me">About me</h2>
  <p>
    I am currently working for UC Berkeley on the <a href="https://jbrowse.org">JBrowse</a> project, which is a web-based genome browser.
  </p>

  <p>
    <img src="/me2.jpg" alt="" />
  </p>
  <p>
    This website is made with Astro, source here <a href="https://github.com/cmdcolin/cmdcolin.github.io">https://github.com/cmdcolin/cmdcolin.github.io</a>
  </p>
  <p>Here are some <a href="/books">books I have read lately</a></p>
</Layout>
