---
import Layout from '../layouts/Layout.astro';

const postModules = import.meta.glob('../_posts/*.md', { eager: true });
const posts = Object.entries(postModules).map(([path, module]) => {
  const filename = path.split('/').pop().replace('.md', '');
  return {
    frontmatter: module.frontmatter,
    url: `/posts/${filename}/`
  };
});
posts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<Layout title="Archive">
  <h1>Blog archive</h1>

  <section>
    <h1>Posts</h1>
    <ul>
      {posts.map(post => {
        const { frontmatter, url } = post;
        const { date, title } = frontmatter;
        return (
          <li>
            <a href={url}>
              {date.slice(0,10)} - {title}
            </a>
          </li>
        );
      })}
    </ul>
  </section>
</Layout>
