---
---

<style>
  .footer-style {
    margin-top: 4rem;
  }
  .footer-link {
    margin: 0.5rem;
  }
</style>
<footer class="footer-style">
  <a class="footer-link" href="/">Home</a>
  <a class="footer-link" href="/archive">Blog archive</a>
  <a class="footer-link" href="https://github.com/cmdcolin/">Github</a>
  <a class="footer-link" href="/projects">Projects</a>
  <a class="footer-link" href="/about">About</a>
</footer>
