---
---

<footer class="mt-16">
  <a class="m-2" href="/">Home</a>
  <a class="m-2" href="/archive">Blog archive</a>
  <a class="m-2" href="https://github.com/cmdcolin/">Github</a>
  <a class="m-2" href="/projects">Projects</a>
  <a class="m-2" href="/books">Books</a>
  <a class="m-2" href="/about">About</a>
  <a class="m-2" href="/rss.xml">RSS</a>
</footer>
