body {
  font-family: "Helvetica", "Arial", sans-serif;
  /*
   * https://dev.to/madsstoumann/dark-mode-in-3-lines-of-css-and-other-adventures-1ljj 
   */
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

img {
  max-width: 100%;
}

pre {
  max-width: 100%;
  overflow: auto;
}

li + li {
  margin-top: 10px;
}

pre {
  padding: 10px;
  border-radius: 5px;
}
