---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.date.slice(0,10)}</p>
  <slot />
</Layout>
